<!DOCTYPE html>
<head>
  <title>Overview | SlakHub</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i|Open+Sans" rel="stylesheet">
  <%= stylesheet_link_tag "dashboard_overview" %>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/bootstrap-select.min.js"></script>
  <!-- (Optional) Latest compiled and minified JavaScript translation files -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.2/js/i18n/defaults-*.min.js"></script>
</head>

<body>
<div style="width: 100%; display: table;">
  <div style="display: table-row;">
    <div style="display: table-cell">
      <!-- A vertical navbar -->
      <ul class="nav flex-column" style="max-width: 64px; height: 100vh; position: fixed; background-color: #F4F5F7; max-height: none !important; align-items: center;">
        <li class="nav-item">
          <a class="nav-link" href="/dashboard/overview/" style="margin-top: 5px;">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                 viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" height="45" width="45">
              <style type="text/css">
                .st0{fill:none;}
                .st1{fill:#3EB890;}
                .st2{fill:#70CADB;}
                .st3{fill:#E8A723;}
                .st4{fill:#E01765;}
              </style>
              <g>
                <path class="st0" d="M210.4,280.3l70.3,20.6l20.9-70.9c-19.4-5.6-42.6-12.3-70.4-20.4L210.4,280.3z"/>
                <path class="st1" d="M392.1,152.2c2.4-8.3,1.5-17.1-2.6-24.7c-2.5-4.5-5.9-8.3-10.1-11.2c-2.8-1.9-5.9-3.4-9.3-4.4c-16.7-4.9-34.2,4.1-39.8,20.5l-0.5,1.5L319.2,170l62.2,18.4L392.1,152.2z"/>
                <path class="st2" d="M151.2,120.3c-16.7-4.9-34.1,4-39.8,20.3c-0.2,0.5-0.3,1-0.5,1.5c-3.9,13.1,1,26.6,12.5,34.5c3,2.1,6.3,3.6,9.8,4.7c12.4,3.6,24.3,7,35.6,10.3l17.9-60.8L151.2,120.3z"/>
                <path class="st2" d="M426.8,203.6c-2.7-1.8-5.6-3.3-8.7-4.4l-36.6-10.8L319.2,170L249,149.2l-17.8,60.4c27.8,8,51,14.8,70.4,20.4c28,8.1,48.1,13.9,62.4,18.1c35,10.1,35.7,10.4,35.7,10.4c14.9,4.4,33.8-1.2,39.6-18.2l0.4-1.3C443.6,225.6,438.6,211.7,426.8,203.6z"/>
                <path class="st3" d="M119.4,359.8c-4,13.5,1.2,28,12.8,35.9l0,0l0,0c2.8,1.9,5.9,3.4,9.2,4.4c0,0,0.1,0,0.1,0c17.2,5,35.2-4.8,40.2-22l10.9-36.9l-62.4-18L119.4,359.8z"/>
                <path class="st3" d="M231.2,209.6l17.8-60.4l10.6-36c4-13.5-1.2-28-12.8-35.9c-2.8-1.9-5.9-3.4-9.2-4.4c0,0,0,0-0.1,0c-17.2-5-35.2,4.8-40.2,22l-10.6,35.9l-17.9,60.8l-20.7,70.5l62.3,18.2L231.2,209.6z"/>
                <path class="st4" d="M210.4,280.3l-62.3-18.2l-35.4-10.4c-16.7-4.9-34.3,4.2-40,20.7c-0.2,0.5-0.3,1-0.5,1.5c-3.8,12.9,1.2,26.4,12.7,34.3l0,0c3.2,2.1,6.6,3.8,10.3,4.9l34.9,10.1l62.4,18l70.4,20.3l17.8-60.6L210.4,280.3z"/>
                <path class="st4" d="M364.3,390.8c0,0,12.7,2.6,19.2-0.1c8.7-3.6,15.7-10.9,18.7-19.7l0.4-1.3c3.8-13.1-1.4-27.2-12.9-35.2c-2.9-2-6.1-3.5-9.6-4.6L343,319.2l-17.8,60.4L364.3,390.8z"/>
                <path class="st1" d="M301.6,230l-20.9,70.9l-17.8,60.6l-11,37.3c-4,13.5,1.2,28,12.8,35.9l0,0c2.8,1.9,5.9,3.4,9.2,4.4c16.7,4.9,34.1-4.1,40-21.1l0.3-0.8l11.1-37.6l17.8-60.4l20.9-71.1C349.6,243.9,329.6,238.1,301.6,230z"/>
              </g>
            </svg>
          </a>
        </li>
      </ul>
    </div>


    <!-- main body -->
    <div style="display: table-cell;">
      <div style="margin: 0; padding: 0; margin-left: 9rem; margin-right: 5rem;">
        <%= form_with(model: @flight, local: true) do |form| %>

          <% if @flight.errors.any? %>
            <div class="card" style="width: 598px; margin: 2.5rem auto; border-left: 4px solid #E01765; background-color: #F9F9F9;">
              <div class="card-body" style="padding-top: 1rem; padding-bottom: 0rem;">
                <div id="error_explanation">
                  <h6 style="font-weight: bold">
                    <%= pluralize(@flight.errors.count, "Error") %> prohibited
                    this Traveller from being added:
                  </h6>
                  <ul>
                    <% @flight.errors.full_messages.each do |msg| %>
                      <h6 style="font-weight: normal; margin-left: -1.5rem;">
                        <span style="margin-right: 0.3rem;">
                          <svg aria-hidden="true" data-prefix="fas" data-icon="circle" class="svg-inline--fa fa-circle fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" height="6" width="6"><path fill="#E01765" d="M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8z"></path></svg>
                        </span>
                        <%= msg %>.<br>
                      </h6>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>

          <div class="card" style="width: 598px; margin: 2.5rem auto;">
            <div class="card-body">
              <h5 class="card-title" style="position: relative; font-size: 1.4em; font-style: inherit; font-weight: 500; letter-spacing: -.01em; line-height: 1; color: #172B4D;">Create a Flight</h5>

              <section style="border-top: 1px solid #DFE1E6;">
                <form>
                  <!-- seats number -->
                  <div class="row" style="margin-top: 0.4rem">
                    <div class="col-xs-4">
                      <%= form.label :seats, "Seats", :class => "col-form-label", :style => "color: #707070; margin-left: 2.2rem; margin-right: 1rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                    </div>
                    <div class="col-xs-6" style="margin: auto 0;">
                      <%= form.text_field :seats, :placeholder => "XX", :type => "text", :class => "form-control", :style => "height: 32px; max-width: 80px !important;" %>
                    </div>
                  </div>
                </form>
              </section>


              <!-- outboard flight --> <!-- outboard flight --> <!-- outboard flight --> <!-- outboard flight --> <!-- outboard flight --> <!-- outboard flight --> <!-- outboard flight -->
              <h6 style="margin-top: 1rem; padding-top: 1rem; font-size: 16px; font-weight: 500; border-top: 0.1px solid #DFE1E6;">Outboard Flight</h6>
              <a data-toggle="collapse" href="#outboardCollapse" role="button" aria-expanded="false" aria-controls="outboardCollapse"
                 style="color: #0052CC; background: 0 0; padding: 0; height: auto; line-height: inherit; border-radius: 0; font-size: 14px; font-variant: normal; font-weight: 400;">Add inboard flight</a>

              <div class="collapse" id="outboardCollapse">
                <section>
                  <h6 style="margin-top: 1.5rem; margin-left: 1rem; font-size: 15px; font-weight: 500">First Flight</h6>

                  <div class="container">
                    <!-- Airline -->
                    <div class="row">
                      <div class="col-xs-2">
                        <%= form.label :airline, "Airline", :class => "col-form-label", :style => "color: #707070; margin-left: 1.4rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="airline" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :board, "Board", :class => "col-form-label", :style => "color: #707070; margin-left: 1.35rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4" style="margin: auto 0;">
                        <%= form.text_field :board, :placeholder => "Flight Number", :type => "text", :class => "form-control", :style => "height: 32px;" %>
                      </div>
                    </div>

                    <!-- Country -->
                    <div class="row">
                      <div class="col-xs-2">
                        <%= form.label :from_country, "From", :class => "col-form-label", :style => "color: #707070; margin-left: 1.85rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="country" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :from_city, "To", :class => "col-form-label", :style => "color: #707070; margin-left: 2.8rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="country" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                    <!-- City -->
                    <div class="row">
                      <div class="col-xs-2">
                        <%= form.label :to_country, "From", :class => "col-form-label", :style => "color: #707070; margin-left: 1.85rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="city" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :to_city, "To", :class => "col-form-label", :style => "color: #707070; margin-left: 2.8rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="city" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                    <!-- timing -->
                    <div class="row">
                      <!-- Departure -->
                      <div class="col-xs-2">
                        <%= form.label :departure, "Departure", :class => "col-form-label", :style => "color: #707070; margin-right: 0.35rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;"%>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="departure" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <!-- Arrival -->
                      <div class="col-xs-2">
                        <%= form.label :arrival, "arrival", :class => "col-form-label", :style => "color: #707070; margin-left: 1.3rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="arrival" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                  </div>
                </section>

                <section>
                  <h6 style="margin-top: 1.5rem; margin-left: 1rem; font-size: 15px; font-weight: 500">Second Flight</h6>

                  <div class="container">
                    <!-- Airline -->
                    <div class="row">
                      <div class="col-xs-4">
                        <%= form.label :airline, "Airline", :class => "col-form-label", :style => "color: #707070; margin-left: 1.4rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-6">
                        <input type="text" class="form-control" id="inputPassword" placeholder="airline" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :board, "Board", :class => "col-form-label", :style => "color: #707070; margin-left: 1.35rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4" style="margin: auto 0;">
                        <%= form.text_field :board, :placeholder => "Flight Number", :type => "text", :class => "form-control", :style => "height: 32px;" %>
                      </div>
                    </div>

                    <!-- Country -->
                    <div class="row">
                      <div class="col-xs-2">
                        <%= form.label :from_country, "From", :class => "col-form-label", :style => "color: #707070; margin-left: 1.85rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="country" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :from_city, "To", :class => "col-form-label", :style => "color: #707070; margin-left: 2.8rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="country" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                    <!-- City -->
                    <div class="row">
                      <div class="col-xs-2">
                        <%= form.label :to_country, "From", :class => "col-form-label", :style => "color: #707070; margin-left: 1.85rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="city" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :to_city, "To", :class => "col-form-label", :style => "color: #707070; margin-left: 2.8rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="city" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                    <!-- timing -->
                    <div class="row">
                      <!-- Departure -->
                      <div class="col-xs-2">
                        <%= form.label :departure, "Departure", :class => "col-form-label", :style => "color: #707070; margin-right: 0.35rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;"%>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="departure" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <!-- Arrival -->
                      <div class="col-xs-2">
                        <%= form.label :arrival, "arrival", :class => "col-form-label", :style => "color: #707070; margin-left: 1.3rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="arrival" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                  </div>
                </section>
              </div>


              <!-- inboard flight --> <!-- inboard flight --> <!-- inboard flight --> <!-- inboard flight --> <!-- inboard flight --> <!-- inboard flight --> <!-- inboard flight -->

              <h6 style="margin-top: 1rem; padding-top: 1rem; font-size: 16px; font-weight: 500; border-top: 0.1px solid #DFE1E6;">Inboard Flight</h6>
              <a class="" data-toggle="collapse" href="#inboardCollapse" role="button" aria-expanded="false" aria-controls="inboardCollapse"
                 style="color: #0052CC; background: 0 0; padding: 0; height: auto; line-height: inherit; border-radius: 0; font-size: 14px; font-variant: normal; font-weight: 400;">Add inboard flight</a>

              <div class="collapse" id="inboardCollapse">
                <section>
                  <h6 style="margin-top: 1.5rem; margin-left: 1rem; font-size: 15px; font-weight: 500">First Flight</h6>

                  <div class="container">
                    <!-- Airline -->
                    <div class="row">
                      <div class="col-xs-4">
                        <%= form.label :airline, "Airline", :class => "col-form-label", :style => "color: #707070; margin-left: 1.4rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-6">
                        <input type="text" class="form-control" id="inputPassword" placeholder="airline" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :board, "Board", :class => "col-form-label", :style => "color: #707070; margin-left: 1.35rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4" style="margin: auto 0;">
                        <%= form.text_field :board, :placeholder => "Flight Number", :type => "text", :class => "form-control", :style => "height: 32px;" %>
                      </div>
                    </div>

                    <!-- Country -->
                    <div class="row">
                      <div class="col-xs-2">
                        <%= form.label :from_country, "From", :class => "col-form-label", :style => "color: #707070; margin-left: 1.85rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="country" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :from_city, "To", :class => "col-form-label", :style => "color: #707070; margin-left: 2.8rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="country" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                    <!-- City -->
                    <div class="row">
                      <div class="col-xs-2">
                        <%= form.label :to_country, "From", :class => "col-form-label", :style => "color: #707070; margin-left: 1.85rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="city" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :to_city, "To", :class => "col-form-label", :style => "color: #707070; margin-left: 2.8rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="city" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                    <!-- timing -->
                    <div class="row">
                      <!-- Departure -->
                      <div class="col-xs-2">
                        <%= form.label :departure, "Departure", :class => "col-form-label", :style => "color: #707070; margin-right: 0.35rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;"%>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="departure" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <!-- Arrival -->
                      <div class="col-xs-2">
                        <%= form.label :arrival, "arrival", :class => "col-form-label", :style => "color: #707070; margin-left: 1.3rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="arrival" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                  </div>
                </section>

                <section>
                  <h6 style="margin-top: 1.5rem; margin-left: 1rem; font-size: 15px; font-weight: 500">Second Flight</h6>

                  <div class="container">
                    <!-- Airline -->
                    <div class="row">
                      <div class="col-xs-4">
                        <%= form.label :airline, "Airline", :class => "col-form-label", :style => "color: #707070; margin-left: 1.4rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-6">
                        <input type="text" class="form-control" id="inputPassword" placeholder="airline" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :board, "Board", :class => "col-form-label", :style => "color: #707070; margin-left: 1.35rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4" style="margin: auto 0;">
                        <%= form.text_field :board, :placeholder => "Flight Number", :type => "text", :class => "form-control", :style => "height: 32px;" %>
                      </div>
                    </div>

                    <!-- Country -->
                    <div class="row">
                      <div class="col-xs-2">
                        <%= form.label :from_country, "From", :class => "col-form-label", :style => "color: #707070; margin-left: 1.85rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="country" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :from_city, "To", :class => "col-form-label", :style => "color: #707070; margin-left: 2.8rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="country" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                    <!-- City -->
                    <div class="row">
                      <div class="col-xs-2">
                        <%= form.label :to_country, "From", :class => "col-form-label", :style => "color: #707070; margin-left: 1.85rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="city" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <div class="col-xs-2">
                        <%= form.label :to_city, "To", :class => "col-form-label", :style => "color: #707070; margin-left: 2.8rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="city" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                    <!-- timing -->
                    <div class="row">
                      <!-- Departure -->
                      <div class="col-xs-2">
                        <%= form.label :departure, "Departure", :class => "col-form-label", :style => "color: #707070; margin-right: 0.35rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;"%>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="departure" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>

                      <!-- Arrival -->
                      <div class="col-xs-2">
                        <%= form.label :arrival, "arrival", :class => "col-form-label", :style => "color: #707070; margin-left: 1.3rem; margin-right: 0.5rem; font-size: 14px; font-style: normal;font-weight: 400;line-height: 1.43;" %>
                      </div>
                      <div class="col-xs-4">
                        <input type="text" class="form-control" id="inputPassword" placeholder="arrival" style="height: 32px; max-width: 200px; margin: auto 0;">
                      </div>
                    </div>

                  </div>
                </section>
              </div>

              <section>
                <div style="margin-top: 1rem; float: right;">
                  <%= form.submit :Submit, :class => "btn btn_color" %>
                  <%= link_to 'Back', dashboard_flights_path, :class => "btn btn_color" %>
                </div>
              </section>

            </div>
          </div>
        <% end %>
      </div>
    </div>

  </div>
</div>

</body>
</html>

<style>
  .body{
    color: #172B4D;
  }
  #div{
    display:block !important;
  }

  .btn_color{
    font-size: 14px;
    color: #FFF;
    background: #0052CC;
    transition: background .1s ease-out,box-shadow .15s cubic-bezier(.47,.03,.49,1.38);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    border: none;
    outline: 0;
    height: 2.28571429em;
    line-height: 1.6em;
  }

  input[type="text"], email {
    background-color: #FAFBFC !important;
    max-width: 200px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #707070;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.43;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #707070;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.43;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #707070;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.43;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #707070;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.43;
  }


  .a_hover:hover{
    height: 40px;
    width: 50px;
    outline: none;
    border-radius: 2px;
    text-decoration: none;
    background-color: #04387E !important;
    padding: 10px 16px 13px 16px;

    margin-right: 9px;
    margin-left: 6px;

    vertical-align: middle;
  }

  .a_hover:active{
    height: 40px;
    width: 50px;
    outline: none;
    border-radius: 2px;
    text-decoration: none;

    margin-right: 9px;
    margin-left: 6px;
    vertical-align: middle;
    padding: 10px 16px 13px 16px;

    background-color: #0447A6 !important;
  }

  .a_hover:focus{
    height: 40px;
    width: 50px;
    outline: none;
    border-radius: 2px;
    text-decoration: none;

    margin-right: 9px;
    margin-left: 6px;
    vertical-align: middle;
    padding: 10px 16px 13px 16px;

    background-color: #0447A6 !important;
  }

  .tooltip{
    pointer-events: none;
  }
  .red-tooltip + .tooltip > .tooltip-arrow { border-bottom-color:#f00; }
</style>

<script>
    // To style only selects with the selectpicker class
    $(document).ready(function(){
        $('.selectpicker').selectpicker();
    });
    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });
    /*
    // jQuery and Bootstrap loaded, you're here on a $(document).on('ready') scope !
    $('#mySelect').on('change', function (e) {
        // With $(this).val(), you can **(and have to!)** specify the target in your <option> values.
        $('#myTab li a').eq($(this).val()).tab('show');
        // If you do not care about the sorting, you can work with $(this).index().
        // $('#the-tab li a').eq($(this).index()).tab('show');
    });
*/

</script>