<div>
  <p>
    <%= f.label :country, "destination" %>
    <%= f.text_field :country %>
  </p>

  <p>
    <%= f.label :workspace_id %>
    <%= f.text_field :workspace_id %>
  </p>

  <p>
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </p>

  <p>
    <%= f.label :tour_id %>
    <%= f.text_field :tour_id %>
  </p>
</div>