<%= form_for @round do |f| %>
  <p>
    <%= f.label :total %>
    <%= f.text_field :total %>
  </p>
  <p>
    <%= f.label :workspace_id %>
    <%= f.text_field :workspace_id %>
  </p>
  <p>
    <%= f.label :user_id %>
    <%= f.text_field :user_id %>
  </p>

  <p>
    <%= f.label :price %>
    <%= f.text_field :price %>
  </p>

  <p>
    <%= f.submit 'Create Project' %>
  </p>
<% end %>