<div class="tour">
  <%= f.label :country %>
  <%= f.text_field :country %>
</div>

<div>
  <%= f.label :workspace_id %>
  <%= f.text_field :workspace_id %>
</div>

<div>
  <%= f.label :user_id %>
  <%= f.text_field :user_id %>
</div>

<%= f.fields_for :destinations do |builder| %>
  <%= render 'destination_fields', :f => builder %>
<% end %>